body{

  background-color: #e0f9b5;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather',serif;
  font-weight: bold;
}

.top-container
{
  padding-top: 100px;
  margin: 0px;
  background-color: #E4F9F5;
  position: relative;
}

h1{
  color: #66BFBF;
  line-height: 2;
  margin: 50px auto 50px auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.middle-container{
}

.bottom-container{
}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 200px;
}

.bottom-cloud{
  position: absolute;
  left: 100px;
  bottom: 200px;
}

.profilepicture{
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.codeimage{
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.htmlimg{
  float: right;
  height: 200px;
  width:200px;
}

.bookgif{
  float: left;
  height: 200px;
  width:200px;
}

.bingewatch{
  float: right;
  height: 200px;
  width:200px;
  border-radius: 100px;
}

.programmer{
  font-weight: normal;
}

.skillhobby{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 3;
  font-weight: bold;
}

hr{
  width: 50%;
}
